##############################################################################################
####################### ENSURE THE FOLLOWING SETTINGS ARE SET PROPERLY #######################
##############################################################################################

APP_ENV=production
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=warning
APP_URL=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

MAIL_DRIVER=smtp
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=null
MAIL_FROM_NAME=
MAIL_FROM_EMAIL=

STRIPE_KEY=
STRIPE_SECRET=
# This value should be a 3 digit ISO value: https://support.stripe.com/questions/which-currencies-does-stripe-support
CURRENCY=GBP

SITE_TITLE="UltimateCRM"


##############################################################################################
################## BELOW ARE THE SETTINGS YOU PROBABLY DO NOT NEED TO TOUCH ##################
##############################################################################################
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
