@import url(http://fonts.googleapis.com/css?family=Open+Sans|Lato:400|Lato:700);


// Custom Variables
@import "variables";

// Need to import bootstrap here
@import "node_modules/bootstrap/scss/bootstrap";

// Need to use custom CSS here
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: black;
  line-height: 1.5 !important;
}

h1, .h1 { font-size: 32px; } 
h2, .h2 { font-size: 26px; } 
h3, .h3 { font-size: 22px; } 
h4, .h4 { font-size: 20px; } 
h5, .h5 { font-size: 18px; } 
h6, .h6 { font-size: 16px; } 

@media screen and (max-width: 767px){ 
    h1, .h1 { font-size: 30px; } 
    h2, .h2 { font-size: 24px; } 
    h3, .h3 { font-size: 20px; } 
    h4, .h4 { font-size: 18px; } 
    h5, .h5 { font-size: 17px; } 
    h6, .h6 { font-size: 16px; } 
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-family: 'Lato', sans-serif;
  line-height : 1.4 !important;
}

input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em;
}

input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}

.fa-btn {
    margin-right: 6px;
}

nav.navbar.navbar-light.bg-faded.navbar-static-top{
	margin-bottom: 20px;
}

.invoice_item input{
  margin: 5px 0;
}

.dropdown-menu{
 right: 0;
 left: auto;
}

@media (min-width: 544px) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}


@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 992px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

div#invoice .row{
  border-bottom: 1px solid #aaa;
  padding: 15px 0;
}
div#invoice .row:last-of-type{
  border-bottom: none;
}
.invoice_break{
  margin: 10px;
}

div.col_row{
  padding-top: 8px;
  padding-bottom: 8px;
}

.custom-file{
  width: 100%;
}

.recurring{
  display: none;
}